{% extends 'app/base.html' %}

{% block content %}
    <h1></h1>
    {% if booking is none %}
        <div id="booking">
            <h1>You currently have no active booking</h1>
            <p style="text-align: center;">
                <a href="create">
                    <Button>Place Booking</Button>
                </a>
            </p>
        </div>
    {% else %}
        <div id="booking">
            <h1 style ='text-align: center;'>Your booking for {{user.user}} is on {{ booking.bookingStartDateTime.date }}</h1>
            <p>Your booking starts at <b>{{booking.bookingStartDateTime.time}}</b> and finishes on <b>{{booking.bookingEndDateTime.time}}</b> on <b>{{booking.bookingStartDateTime.date}}</b></p>
            <p>Number of Guests: {{booking.guests}}</p>  
            <p>Table: {{ booking.table.id }}</p>
                <a href="edit">
                    <button>Edit Booking</button>
                </a>
        </div>
    {% endif %}
{% endblock content %}